{% assign heading-bar-class = '' %}

{% if hero.hero_type == 'Brand' %}
  {% assign heading-bar-class= 'brand-heading brand-heading--hero text-block__heading-bar--brand' %}
{% elsif  hero.hero_type == 'Functional' %}
  {% assign heading-bar-class= 'text-block__heading-bar--primary section-heading section-heading--large' %}
{% elsif  hero.hero_type == 'Editorial' %}
  {% assign heading-bar-class= 'section-heading section-heading--large' %}
{% endif %}

<section class="hero hero--{{include.hero_selection}} hero--with-sidekick">
  <div class="hero__inner">
    <div class="hero__content u-color-white">
      <div class="text-block text-block--large u-mb-small">
        <{{include.heading_tag}} class="{{heading-bar-class}} u-color-white text-block__heading-bar--brand">{{include.hero_title}}</{{include.heading_tag}}>
        <p class="text-block__lead-paragraph">{{include.hero_paragraph}}</p>
      </div>
      {% include cta.html %}
    </div>
  </div>
</section>

<section class="hero-sidekick">
  <div class="hero-sidekick__content">
    {% include feature-list.html %}
  </div>
</section>
