---
layout: default
---

{% comment %}
	This layout is used to generate custom landing page layouts,
	e.g index.md and about.md
{% endcomment %}


{% assign hero = page.hero[0] %}

{%- capture sideKick -%}
{{hero.add_sidekick}}
{%- endcapture -%}

{%- capture heroType -%}
{{hero.hero_type}}
{%- endcapture -%}

{%- capture heroSelection -%}
{{hero.hero_selection}}
{%- endcapture -%}

{%- capture headingSize -%}
{{hero.hero_title[0].heading_size}}
{%- endcapture -%}

{%- capture headingTag -%}
{{hero.hero_title[0].heading_html_tag}}
{%- endcapture -%}

{%- capture heroTitle -%}
{{hero.hero_title[0].section_heading}}
{%- endcapture -%}

{%- capture heroParagraph -%}
{{hero.hero_paragraph[0].lead_paragraph}}
{%- endcapture -%}

{%- capture heroCTAPrimaryLabel -%}
{{hero.cta[0].primary_cta_label}}
{%- endcapture -%}

{%- capture heroCTAPrimaryLink -%}
{{hero.cta[0].primary_cta_link}}
{%- endcapture -%}

{%- capture heroCTASecondaryLabel -%}
{{hero.cta[0].cta_secondary_links.cta_secondary_label}}
{%- endcapture -%}

{%- capture heroCTASecondaryLink -%}
{{hero.cta[0].cta_secondary_links.cta_secondary_link}}
{%- endcapture -%}

{%- capture featureListItems -%}
{{page.sidekick[0].feature_list_items[0].list_item}}
{%- endcapture -%}

{% include hero.html side_kick=sideKick hero_type=heroType hero_selection=heroSelection heading_size=headingSize heading_tag=headingTag hero_title=heroTitle hero_paragraph=heroParagraph cta_primary_label=heroCTAPrimaryLabel cta_primary_link=heroCTAPrimaryLink cta_secondary_label=heroCTASecondaryLabel cta_secondary_link=heroCTASecondaryLink %}

{% include text-block.html %}

{% include screamer.html %}

{% include case-study.html %}

{% include trust-block.html %}
